page-location{
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
        border-width: 0 0 3px;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
        border-color: color($colors,secondary);
    }

    .toolbar-md{
        border-width: 0 0 3px;
        border-style: solid;
        border-color: color($colors,secondary);
    }

    #map {
        height: 100%;
    }

}
